.how-does-it-work {
  padding: 90px 10%;
  display: flex;
  flex-direction: row-reverse;

  .text-container {
    // background-color: red;
    .title {
      font-weight: 600;
      font-size: 40px;
    }
    .steps {
      display: flex;
      align-items: center;
      margin-top: 100px;
      .step-no {
        background-color: black;
        color: white;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 120%;
        position: relative;
        margin-right: 32px;
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .text {
        // background-color: red;
        width: 80%;
        p {
          font-size: 22px;
        }
      }
    }
    button {
      background-color: black;
      border: none;
      width: 200px;
      padding: 20px;
      margin-top: 100px;
      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and(max-width: 1100px) {
  .how-does-it-work {
    flex-direction: column;

    .img-container {
      width: 100%;
      // background-color: red;

      img {
        display: block;
        margin: 0 auto;
        // width: 100%;
      }
    }
  }
}

@media only screen and(max-width: 700px) {
  .how-does-it-work {
    flex-direction: column;

    .img-container {
      width: 100%;
      // background-color: red;

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
    }

    .text-container {
      margin-top: 50px;

      .title {
        text-align: center;
      }

      .steps {
        margin-top: 50px;

        .text {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
