.nav {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  position: fixed;
  width: 100vw;
  min-height: 87px;
  .menu {
    display: none;
  }

  &-img-container {
    width: 100px;
    position: relative;
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-links {
    transition: all 0.3s ease;
    ul {
      li {
        list-style-type: none;
        display: inline-block;
        margin-left: 50px;
        a {
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and(max-width: 750px) {
  .nav {
    .menu {
      display: initial;
      width: 40px;
      z-index: 99;
      img {
        width: 100%;
      }
    }

    &-links {
      height: 100vh;
      background-color: white;
      position: absolute;
      top: 0;
      right: 0;
      width: 80%;
      transform: translateX(100%);
      display: flex;
      align-items: center;

      ul {
        li {
          display: block;
          margin: 50px 50px 20px 50px;
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
