.services-section {
  padding: 70px 10%;
  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
  }

  .services-container {
    display: flex;
    align-items: flex-start;
    margin-top: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
    .service {
      width: 300px;
      // background-color: green;

      &:nth-child(2) {
        margin: 0px 30px;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      &-text-container {
        margin-top: 42px;
        display: block;
        margin: 42px auto 0px auto;
        // background-color: green;
        h5 {
          font-weight: 500;
          font-size: 24px;
          margin-bottom: 14px;
        }

        .service-info {
          font-size: 16px;
          font-weight: 300;
        }

        .service-price {
          font-size: 13px;
          font-weight: 300;
          margin-top: 10px;
        }
      }
    }
  }
}

@media only screen and(max-width: 1200px) {
  .services-section {
    .services-container {
      justify-content: center;
      .service {
        margin-top: 50px;
        margin: 50px 15px;
        &:nth-child(2) {
          margin: 50px 15px;
        }
      }
    }
  }
}
