.why-txbk {
  padding: 0px 10%;
  display: flex;

  .text-container {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: top;

    .title {
      font-weight: 600;
      font-size: 40px;
    }

    .feature {
      margin: 30px 0px;

      h1 {
        font-size: 25px;
        font-weight: 500;
      }

      p {
        font-weight: 300;
      }
    }
  }
}

@media only screen and(max-width: 1100px) {
  .why-txbk {
    flex-direction: column;

    .img-container {
      width: 100%;
      // background-color: red;

      img {
        display: block;
        margin: 0 auto;
        // width: 100%;
      }
    }
  }
}

@media only screen and(max-width: 770px) {
  .why-txbk {
    .img-container {
      // width: 80%;
      img {
        width: 100%;
      }
    }

    .text-container {
      margin: 0px;
      margin-top: 50px;

      .title {
        text-align: center;
        margin-bottom: 20px;
      }

      .feature {
        margin: 15px 0px;

        h1 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
